





#social-platforms {
  position:relative;
  top:100px;
  top:25vh;
  font-size:1rem;
  text-align:center;
  height:250px;
  overflow:hidden;
}

/*Pen code from this point on*/
.btnS {
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden
}

.btnS:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btnS:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btnS > span,.btnS-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btnS > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btnS:focus > span {
  background:#9a9a9a
}

.btnS-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btnS-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btnS-icon:hover > i,.btnS-icon:focus > i {
  color:#FFF
}

.btnS-icon > span {
  border-radius:0 5px 5px 0
}

/*Facebook*/
.btnS-facebook:hover > i,.btnS-facebook:focus > i {
  color:#3b5998
}

.btnS-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btnS-twitter:hover > i,.btnS-twitter:focus > i {
  color:#55acee
}

.btnS-twitter > span {
  background:#55acee
}

/*Google*/
.btnS-googleplus:hover > i,.btnS-googleplus:focus > i {
  color:#bc2a8d
}

.btnS-googleplus > span {
  background:#bc2a8d
}

/*Pinterest*/
.btnS-pinterest:hover > i,.btnS-pinterest:focus > i {
  color:#25D366
}

.btnS-pinterest > span {
  background:#25D366
}

/*LinkedIn*/
.btnS-linkedin:hover > i,.btnS-linkedin:focus > i {
  color:#007bb6
}

.btnS-linkedin > span {
  background:#007bb6
}


